* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
}
.container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.card {
  height: 500px;
  width: 40%;
  text-align: center;
}
img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
h1 {
  font-weight: bold;
  width: 100%;
}
span {
  width: 100%;
  font-weight: 500;
  text-align: justify;
}
.card button,
#btn {
  width: 80%;
  margin: 10px auto;
  background-color: rgb(250, 129, 129);
  border: none;
  color: white;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
}
.card button:hover {
  background-color: rgb(138, 16, 16);
}
.btn {
  text-align: center;
}
#btn {
  background-color: blue;
}
#btn:hover {
  background-color: rgb(6, 6, 85);
  color: white;
}
/* Modol */
form {
  position: relative;
  top: 0;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -100%);
  height: 40%;
  width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: aliceblue;
  display: none;
  animation: Modol ease 1s forwards; /* Apply the animation */
}

@keyframes Modol {
  to {
    top: 0;
  }
  from {
    top: 50%;
  }
}
form .input,
textarea {
  height: 40px;
  width: 100%;
  border: 0.5px solid gray;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 20px;
}
form .textarea {
  height: auto;
}
form button {
  background-color: rgb(111, 111, 255);
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}
form button:hover {
  background-color: rgb(6, 6, 110);
  color: white;
  border: none;
}
form .Cross {
  text-align: right;
  color: blue;
  cursor: pointer;
}
/* Blog About Satrt */
.blog-conatiner {
  height: auto;
  width: 100%;
  background-color: aliceblue;
  display: none;
}
.show {
  display: block;
}
.blog-conatiner .cross {
  text-align: right;
  width: 100%;
  background-color: rgb(92, 92, 245);
  border-radius: 10px;
  position: relative;
  top: 20%;
  transform: translate(0%, 30%);
  padding: 20px;
  color: white;
  cursor: pointer;
}
.blog-person-details {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(92, 92, 245);
  border-radius: 10px;
  color: white;
}
.details1 p h1 {
  width: 50%;
  margin-top: 10px;
  text-align: justify;
}
.blog-person-about {
  height: auto;
  width: 100%;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
}
.about {
  text-align: justify;
}
